{% load staticfiles %}

<!doctype html>
<html>

<head>
    <title>
        page1
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="d-flex justify-content-center align-items-center _fade_in_effect"
        style="height:20rem; background-color: #24a4d8;">
        <p class="display-4 text-light">Welcome To The Agricultural Assist</p>
    </div>
    <div class="col-12 mb-3 mt-1">
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-primary" id="register_button">Register</button>
            <button class="btn btn-outline-primary ml-2" id="login_button">Login</button>

        </div>

    </div>
    <div class="container mb-5">
        <div class="products_div mt-3">
            <small>
                <p style="font-size: 2rem; font-weight: normal;">New releases:
                </p>
            </small>
            <div class="row col-12 mb-3">
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/tractor.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><span>Tractor</span></h5>
                        <p class="card-text text-center display-4"><span id="product_value_0"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                            width:2rem;"></p>
                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_0">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3 " id="buy_now_button_1" data="1">Buy Now</button>
                </div>
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/sprayer.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">sprayer</h5>
                        <p class="card-text text-center display-4"><span id="product_value_1"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                                width:2rem;"></p>

                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_1">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_2" data="2">Buy Now</button>

                </div>
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/mower.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">mower</h5>
                        <p class="card-text text-center display-4"><span id="product_value_2"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                            width:2rem;"></p>
                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_2">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_3" data="3">Buy Now</button>

                </div>
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top mt-5" src="{% static 'visiting_pages/images/baler.jfif' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title mt-3">baler</h5>
                        <p class="card-text text-center display-4"><span id="product_value_3"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                            width:2rem;"></p>

                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_3">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_4" data="4">Buy Now</button>
                </div>
            </div>
            <div class="row col-12 mb-3">
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/compost1.jfif' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><span>Vermi Compost</span></h5>
                        <p class="card-text text-center display-4"><span id="product_value_4"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                            width:2rem;"></p>
                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_4">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_5" data="5">Buy Now</button>
                </div>
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/compost2.jfif' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Seed Compost</h5>
                        <p class="card-text text-center display-4"><span id="product_value_5"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                                width:2rem;"></p>

                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_5">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_6" data="6">Buy Now</button>

                </div>
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/compost3.jfif' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Bulb Compost</h5>
                        <p class="card-text text-center display-4"><span id="product_value_6"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                            width:2rem;"></p>
                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_6">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_7" data="7">Buy Now</button>

                </div>
                <div class="card shadow col-md-3 col-xs-3">
                    <img class="card-img-top" src="{% static 'visiting_pages/images/compost4.jfif' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Mushroom Compost</h5>
                        <p class="card-text text-center display-4"><span id="product_value_7"></span><img
                                src="{% static 'dashboard_pages/images/rupee.svg' %}" style="height:2rem;
                            width:2rem;"></p>

                    </div>
                    <span class="text-danger text-center mb-2">Availability:<span id="products_available_7">
                        </span> Units</span>
                    <button class="btn btn-primary mb-3" id="buy_now_button_8" data="8">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        var user_id_value = "{{user_id_value}}"
        var page1_info_api_url = "{{page1_info_api_url}}"
    </script>
    <script src="{% static 'visiting_pages/javascript/page1.js' %}"></script>

</body>

</html>